/*全体の配置*/
.container{
    display: flex;
}

.container .main{
    flex-grow: 100;
    background: #ffffff;
    min-height: 100vh;
    border-left: solid #555555;
}

button:hover{
    filter: brightness(0.95);
}
button:active{
    filter: brightness(0.8);
}

#menu{
    background-color: #f4f8fa;
}

/*ヘッダー*/
.header{
    display: flex;
    border-bottom: solid #555555;
    padding: 10px;
    align-items: center;
}

.header .gear img{
    max-width: 25px;
    max-height: 25px;
    margin-right: 15px;
    margin-left: auto;
}

.header .account img{
    max-width: 25px;
    max-height: 25px;
    border: solid #7ea6e0;
    border-radius: 50%;
}

.header_icon{
    margin-left: auto;
}

/*サブメニュー*/
#menu ul{ 
    margin: 0; 
    padding :0; 
    list-style: none; 
}

#menu li{ 
    padding-top: 12px; 
    margin:0; 
}

#menu li a{
    display: block;
    padding: 2px 0px 3px 18px;
    color: #555555;
    width: 150px;
    margin: 1px 1px;
    text-decoration:none;
    border-bottom: 1px dotted #666666;
    font-size: 14px;
}
#menu li a:hover{
    filter: brightness(0.7);
}
#menu li a:active{
    filter: brightness(0);
}

/*メインの機能*/
.main_function{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    border-bottom: solid #555555;
    padding-bottom: 10px;
}

.main_function .all_license{
    padding: 20px 0 20px 30px;
}

/*検索ボックス*/
.search-box {
    position: relative;
    margin-left: 30px;
}

input[type=text] {
    padding: 8px 6px 4px 6px;
    font-size: 18px;
    background-color: #f4f8fa;
    border: solid;
    border-radius: 8px;
}

.search-box button {
    padding: 10px 15px;
    font-size: 18px;
    position: absolute;
    left: 190px;
    border: none;
    background: none;
    cursor: pointer;
}

/*資格追加ボタン*/
#add{
    padding: 8px 12px 8px 12px;
    position: relative;
    margin-left: auto;
    border: solid #dee9f7;
    border-radius: 8px;
    background-color: #7ea6e0;
    color: #dee9f7;
    cursor: pointer;
}

/*資格データ*/
.license_data{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    border-bottom: solid #555555;
}

.license_data .license_name{
    font-size: 18px;
    padding: 20px 0 10px 30px;
}

.license_data .deadline{
    padding: 5px 0 10px 30px;
    font-size: 14px;
    color: #4b40407a;
}

/*ベルボタン*/
.license_data .bell{
    position: relative;
    margin-left: auto;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
}
.license_data .pushed_bell{
    position: relative;
    margin-left: auto;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #3aabd2;
}
.license_data .disnabled_bell{
    filter: brightness(0.8);
    position: relative;
    margin-left: auto;
    border: solid #7598ce;
    border-radius: 8px;
}
/*ゴミ箱ボタン*/
.license_data .garbage{
    position: relative;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
}
/*詳細ボタン*/
.license_data .detail{
    position: relative;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px;
}

.license_data button{
    max-width: 40px;
    max-height: 40px;
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.license_data button img{
    max-width: 25px;
    max-height: 25px;
}

/*l_detail.phpのやつ*/
.license_detail{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    border-bottom: solid #b4aeae;
    padding: 20px 0 20px 30px;
}
.center{
    white-space: nowrap;
    min-width: 80px;
}
.margin_r{
    margin: 0 50px 0 0;
}
.license_name{
    display:flex;
    align-items: center;
    margin: 10px 50px -10px 0;
    padding: 20px 0 20px 30px;
}
.r_image{
    margin: 0 50px 0 50px;
    padding: 20px 0 0 30px;
    height: 80%;
    width: 80%;
}
.r_image_title{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    padding: 20px 0 0 30px;
}



/*資格データ*/
.hide{
    display: none;
}
.license_detail2{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    border-bottom: solid #b4aeae;
    padding: 15px 0 15px 30px;
}
#detail{
    position: relative;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px;
}
.license_data2{
    display:flex;
    align-items: center;
    margin: 0 0 0 50px;
    position: relative;
    margin-left: auto;
}
.license_data2 button{
    max-width: 50px;
    max-height: 50px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.license_data2 button img{
    max-width: 25px;
    max-height: 25px;
}

/*更新条件の詳細*/
.search-box {
    position: relative;
    margin-left: 30px;
}

.term input[type=text] {
    padding: 8px 6px 4px 6px;
    font-size: 18px;
    background-color: #f4f8fa;
    border: solid;
    border-radius: 8px;
}

.license_detail3{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    border-bottom: solid #b4aeae;
    border-top: solid #b4aeae;
    padding: 20px 0 20px 30px;
}

.license_detail4{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    padding: 20px 0 20px 30px;
}

input[type=checkbox] {
    transform: scale(2);
    margin: 10px 20px 10px 80px;
  }


/*sortボタン*/
#sort{
    padding: 8px 12px 8px 12px;
    margin-left: 5px;
    position: relative;
    border: solid #dee9f7;
    border-radius: 8px;
    background-color: #7ea6e0;
    color: #dee9f7;
    cursor: pointer;
}
#sort a{
    display: block;
    text-decoration:none;
    color: #dee9f7;
}

/*filterボタン*/
#filter{
    padding: 8px 12px 8px 12px;
    margin-left: 5px;
    position: relative;
    border: solid #dee9f7;
    border-radius: 8px;
    background-color: #7ea6e0;
    color: #dee9f7;
    cursor: pointer;
}
#filter a{
    display: block;
    text-decoration:none;
    color: #dee9f7;
}

/*資格データ(sort)*/
#license_data{
    display:flex;
    align-items: center;
    margin: 0 50px 0 50px;
    border-bottom: solid #555555;
}

#license_data .license_name{
    font-size: 18px;
    padding: 20px 0 10px 30px;
}

#license_data .deadline{
    padding: 5px 0 10px 30px;
    font-size: 14px;
    color: #4b40407a;
}

/*ベルボタン*/
#license_data .bell{
    position: relative;
    margin-left: auto;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
}
#license_data .pushed_bell{
    position: relative;
    margin-left: auto;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #3aabd2;
}
#license_data .disnabled_bell{
    filter: brightness(0.8);
    position: relative;
    margin-left: auto;
    border: solid #7598ce;
    border-radius: 8px;
}
/*ゴミ箱ボタン*/
#license_data .garbage{
    position: relative;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
}
/*詳細ボタン*/
#license_data .detail{
    position: relative;
    border: solid #7ea6e0;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px;
}

#license_data button{
    max-width: 40px;
    max-height: 40px;
    margin-left: 5px;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

#license_data button img{
    max-width: 25px;
    max-height: 25px;
}


select{
margin-left: 5px;
border-radius: 8px;
border-width: 2px;
}
.selectbox::after{
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  right:5%;
  top:35%;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  border-radius: 8px;
  transform:rotate(45deg)translateY(-30%);
}
.color.selectbox select{
  background:blue;
  color:#fff;
  border-radius:8px;
}
.color.selectbox::after{
  border-bottom:#fff 5px solid;
  border-right:#fff 5px solid;
  border-radius: 8px;
}

/*更新条件管理ボタン*/
.button1{
    padding: 8px 12px 8px 12px;
    margin: 5px 5px 5px 120px;
    position: relative;
    border: solid #dee9f7;
    border-radius: 8px;
    background-color: #7ea6e0;
    color: #dee9f7;
    cursor: pointer;
}
.button1 a{
    display: block;
    text-decoration:none;
    color: #dee9f7;
}
.b_update{
    padding: 8px 12px 8px 12px;
    margin: 5px 5px 5px 5px;
    position: relative;
    border: solid #dee9f7;
    border-radius: 8px;
    background-color: #7ea6e0;
    color: #dee9f7;
    cursor: pointer;
}
.b_update a{
    display: block;
    text-decoration:none;
    color: #dee9f7;
}
