@charset "utf-8";


h1{
	font-size: 108px;
	text-align: center;
	
}

input[type="checkbox"]{
	display: none
}



#logcheck:checked + #login{
	display: none
}



#makecheck:checked + #makeaccount{
	display: none
}



#login{
	font-size: 48px;
	text-align: center;
}

#makeaccount{
	font-size: 48px;
	text-align: center;
}


